@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.name-container {
    position: relative;
    left: 200px;
    right: 50px;
    top: 300px;
    display: inline-block;
  }
  
  .name-shadow {
    position: absolute;
    font-size: 10em;
    top: 12px;
    font-weight: bold;
    color: #7C4A29;
    font-family: 'Teko', sans-serif;
  }
  
  .name-highlight {
    position: absolute;
    font-size: 10em;
    font-weight: bold;
    color: #D3A651;
    z-index: 1;
    font-family: 'Teko', sans-serif;
  }
  